{{ define "main"}}

HOME SWEET HOME
  <div class="w3-container w3-2017-primrose-yellow" style="height:200px">
    <i class="material-icons orange600 w3-jumbo">equalizer</i>
    <span>Some List body</span>
  </div>

  <div class="w3-container w3-2017-greenery" style="height:200px">
    <i class="material-icons orange600 w3-jumbo">equalizer</i>
    <span>Some List body</span>
  </div>

  <div class="w3-container w3-2017-flame" style="height:200px">
    <i class="material-icons orange600 w3-jumbo">equalizer</i>
    <span>Some List body</span>
  </div>

  <div class="w3-container w3-2017-navy-peony" style="height:200px">
    <i class="material-icons orange600 w3-jumbo">equalizer</i>
    <span>Some List body</span>
  </div>

  <div class="w3-container w3-2017-kale" style="height:200px">
    <i class="material-icons orange600 w3-jumbo">equalizer</i>
    <span>Some List body</span>
  </div>

  <div class="w3-container w3-2017-niagara" style="height:200px">
    <i class="material-icons orange600 w3-jumbo">equalizer</i>
    <span>Some List body</span>
  </div>

{{ end }}
